@import '../../../scss/variables.scss';

.reload-image {
  width: 40px;
  height: 40px;
  background-image: url('../../../assets/icons/return.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $app-base-background-color;
  backdrop-filter: $app-base-filter;
  border-radius: $app-base-border-radius;
  transition: $app-base-animation;

  &:hover {
    background-color: $app-base-background-color-hover;
  }
}