@import '../../../scss/variables.scss';

.search {
  position: relative;
  display: flex;

  &__input, &__button{
    padding: 0 $app-base-margin-padding; 
    height: 40px;
    font-size: $app-font-size-small;
    font-style: $app-font-style-italic;
    @extend %app-base-blur-component;
    @extend %app-base-blur-component-hover;
  }

  &__input {
    padding-right: 40px;
    width: 20vw;
    max-width: 200px;
    min-width: 140px;
    border-radius: $app-base-border-radius 0 0 $app-base-border-radius;
  }

  &__button {
    border-radius: 0 $app-base-border-radius $app-base-border-radius 0;
    &:hover {
      background-color: $app-base-background-color-hover;
    }
  }
  &__microphone {
    position: absolute;
    right: 70px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 1;
    transition: $app-base-animation;
    @extend %app-base-blur-component-hover;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-image: url(../../../assets/icons/microphone.svg);
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@media screen and (max-width: $app-viewport-breakpoint-small){
  .search {
    margin-top: 20px;
    &__input {
      width: 80vw;
    }
  }
}