@import '../../../scss/variables.scss';

.header {
  display: flex;
  justify-content: space-between;

  .switchers {
    display: flex;
    font-style: italic;
  }  
}

@media screen and (max-width: $app-viewport-breakpoint-small){
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}