@import '../../../scss/variables.scss';

.header {
  display: flex;
  justify-content: space-between;

  .switchers {
    display: flex;
    justify-content: space-between;
    width: 40%;
    min-width: 300px;
    max-width: 350px;
    font-style: italic;
  }
}

@media screen and (max-width: $app-viewport-breakpoint-small) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .switchers {
      width: 80%;
      max-width: none;
    }
  }
}
