@import '../../../scss/variables.scss';

.temperature__switch {
  display: flex;

  &_celsius, &_fahrenheit {
    @extend %app-base-blur-component;
    width: 40px;
    height: 40px;
    font-size: $app-font-size-medium;
    font-style: $app-font-style-italic;
    &:hover {
      background-color: $app-base-background-color-hover;
    }
  }
  &_celsius {
    border-radius: $app-base-border-radius 0 0 $app-base-border-radius;
  }
  &_fahrenheit {
    border-radius: 0 $app-base-border-radius $app-base-border-radius 0;
  }
  .active {
    box-shadow: inset 0px 0px 10px 0px #000000a1;
    cursor: default;
    pointer-events: none;
  }
}



