@import '../../../scss/variables.scss';

.temperature__switch {
  display: flex;

  .temperature {
    background-color: $app-base-background-color;
    backdrop-filter: $app-base-filter;
    width: 40px;
    height: 40px;
    font-size: $app-font-size-medium;
    font-style: $app-font-style-italic;
    transition: $app-base-animation;

    &:hover {
      background-color: $app-base-background-color-hover;
    }
  }
  .celsius {
    border-top-left-radius: $app-base-border-radius;
    border-bottom-left-radius: $app-base-border-radius;
  }
  .fahrenheit {
    border-top-right-radius: $app-base-border-radius;
    border-bottom-right-radius: $app-base-border-radius;
  }
}



