@import '../../../scss/variables.scss';

.weather__daily {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  .item-card {
    position: relative;
    transition: $app-base-animation;

    &__front-side {
      padding: $app-base-margin-padding;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 200px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      @extend %app-base-blur-component;
      text-align: center;
      backface-visibility: hidden;
      transition: $app-base-animation;
      cursor: default;
      .weather__daily_temperature {
        font-size: $app-font-size-medium;
        .temperature-night {
          color: #00000088;
          font-size: $app-font-size-small;
        }
      }
    }
    &__back-side {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: $app-base-margin-padding;
      @extend %app-base-blur-component;
      font-size: 18px;
      text-align: center;
      background-color: #ffffff54;
      transform: rotateY(180deg);
      backface-visibility: hidden;
      box-shadow: $app-base-box-shadow-normal;
      transition: $app-base-animation;
      &_line {
        display: flex;
        justify-content: space-between;
        .bottom-dots {
          width: 100%;
          border-bottom: 2px dotted #000000;
        }
      }
    }
    .icon-clear-day {
      background-image: url('../../../assets/icons/weather_icon/clear-day.svg');
    }

    .icon-clear-night {
      background-image: url('../../../assets/icons/weather_icon/clear-night.svg');
    }

    .icon-cloudy {
      background-image: url('../../../assets/icons/weather_icon/cloudy.svg');
    }

    .icon-fog {
      background-image: url('../../../assets/icons/weather_icon/fog.svg');
    }

    .icon-hail {
      background-image: url('../../../assets/icons/weather_icon/hail.svg');
    }

    .icon-partly-cloudy-day {
      background-image: url('../../../assets/icons/weather_icon/partly-cloudy-day.svg');
    }

    .icon-partly-cloudy-night {
      background-image: url('../../../assets/icons/weather_icon/partly-cloudy-night.svg');
    }

    .icon-rain {
      background-image: url('../../../assets/icons/weather_icon/rain.svg');
    }

    .icon-sleet {
      background-image: url('../../../assets/icons/weather_icon/sleet.svg');
    }

    .icon-snow {
      background-image: url('../../../assets/icons/weather_icon/snow.svg');
    }

    .icon-thunderstorm {
      background-image: url('../../../assets/icons/weather_icon/thunderstorm.svg');
    }

    .icon-wind {
      background-image: url('../../../assets/icons/weather_icon/wind.svg');
    }

    .weather__daily_day {
      font-size: $app-font-size-medium;
    }
    &:hover {
      // transform: scale(1.2);
      z-index: 5;
      .item-card__front-side {
        transform: rotateY(180deg);
      }
      .item-card__back-side {
        transform: rotateY(0deg);
      }
    }
  }    
}  