@import './normalize.scss';
@import './fonts.scss';
@import './yandex-map.scss';
@import './variables.scss';
@import './theme-dark.scss';

body {
  background: url(https://images.pexels.com/photos/1424337/pexels-photo-1424337.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
}

.app {
  position: relative;
  width: 90%;
  max-width: 1024px;
  margin: 20px auto 0;
  font-family: $app-font-family;
  .main {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
}