@import './variables.scss';

#map {
  width: 49%;
  height: 45vh;
  border-radius: $app-base-border-radius;
}

ymaps{
  border-radius: $app-base-border-radius;
}

@media screen and (max-width: $app-viewport-breakpoint-medium){
  #map {
    margin-top: 20px;
    min-width: 80%;
  }
}

@media screen and (max-width: $app-viewport-breakpoint-small){
  #map {
    width: 100%;
  }
}