@import './variables.scss';

.map {
  width: 49%;
  max-height: 45vh;
  #map {
    width: 100%;
    height: 100%;
    border-radius: $app-base-border-radius;    
  }
}

ymaps{
  border-radius: $app-base-border-radius;   
}