@import '../../../scss/variables.scss';

.language-select {
  margin: 0 20px;
  padding-left: $app-base-margin-padding;
  display: flex;
  align-items: center;
  background-color: $app-base-background-color;
  backdrop-filter: $app-base-filter;
  border-radius: $app-base-border-radius;
  transition: $app-base-animation;
  cursor: pointer;
  z-index: 5;

  &::after {
    content: '';
    margin: 0 $app-base-margin-padding;
    width: 20px;
    height: 40px;
    background-image: url('../../../assets/icons/arrow.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    transition: $app-base-animation;
  }

  &__body {
    position: absolute;
    left: 0;
    top: 100%;    
    padding: 0 $app-base-margin-padding;
    height: 0;    
    width: 100%;
    background-color: $app-base-background-color;
    backdrop-filter: $app-base-filter;
    border-radius: $app-base-border-radius;
    transition: $app-base-animation;
    opacity: 0;
    
    pointer-events: none;
    overflow: hidden;
    p {      
      margin: 0;
      transition: $app-base-animation;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &:hover {
    background-color: $app-base-background-color-hover;
  }
}

.active {
  &::after {
    transform: rotate(180deg);
  }
  .language-select__body {
    opacity: 1;
    margin-top: $app-base-margin-padding;
    height: auto;
    box-shadow: $app-base-box-shadow-low;
    pointer-events: all;
    p {
      margin: $app-base-margin-padding 0;
      transition: $app-base-animation;
    }
  } 
}